
<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Your reservation</title>

  <link rel="stylesheet" href="/static/css/main.css">
</head>


  <body class='pattern'>

    <div class="">
    <h2 class="header z100 pattern p1">
  Hi, {{ reso.name }}!
</h2>


    <div class="splash white">
  <div class='messages center col12'>
    <div class='message mb1 col11 ml0'>
      <div class='contents'>
        <p class='col10 text-right time'>
        4:20
        </p>
        <ul>
      <li>
        What's the best burrito in the Mission?
      </li>
      </div>
        <div class='image z100'></div>  
      <p class='from col8'>
        Hans, Germany
      </p>
    </div>
    <div class='message mb1 col11 ml0'>
      <div class='contents'>
        <p class='col10 text-right time'>
        4:20
        </p>
        <ul>
      <li>
        Anyone wanna grab a beer at Zietgeist?
      </li>
      </div>
        <div class='image z100'></div>  
      <p class='from col8'>
        Hans, Germany
      </p>
    </div>
<div class='message mb1 col11 ml0'>
      <div class='contents'>
        <p class='col10 text-right time'>
        11:54
        </p>
        <ul>
          <li>
        Hey treat streeters! We're going to the Cal Academy of Sciences on Thursday!
      </li>
      <li>
        Here's a link with some more info: www.linkkinken.com
      </li>
      <li>
        I'm leaving from the house at 6pm if people wanna join
      </li>
      </div>
        <div class='image z100'></div>  
      <p class='from col8'>
        Duncan, Host
      </p>
    </div>
  </div>
  <form method='POST'>
    {% csrf_token %}
    <input type='text' class='new-message z100' name='msg' autofocus='true' placeholder='Introduce yourself!' />
  <form>
</div>

    <footer class="footer"></footer>

    </div>

  </body>

</html>
